.subbox{
    background-color: white;
    width: 50%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.body{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 45rem;
    width: 100%;
    background-color:#e0dbdb;
}

.log{
    display:flex;
    flex-direction: row;
    height: 80%;
    width:65%;
    background-color: transparent;
}

.image{
    height:100%;
    width:50%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.element{
    border: 2px solid rgb(122, 73, 27);
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 20rem;
    height:2.5rem;
    padding-left: 0.5rem;
    border-radius: 0.4rem;
}

.title{
    margin-top: 4.5rem;
    /* margin-bottom: 0.1rem; */
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(122, 73, 27);
}


.under{
  font-size: 0.8rem; 
  margin-top: -0.5rem;
  color: rgb(118, 116, 116);
  margin-bottom: 1rem;
}

.confirm{
    margin-top: 0.3rem;
    background-color: rgb(122, 73, 27);;
    color: white;
}

.confirm:hover{
    opacity:0.8;
    cursor:pointer;
}

.change{
    display:flex;
    flex-direction: row;
}

.alter{
    margin-left: 0.3rem;
    font-weight: bold;
}

.alter:hover{
    cursor:pointer;
}
