.navbar{
    height: 4.5rem;
    width: 100%;
    display:flex;
    flex-direction: row;
    border: solid #2B2A2A 0.1px;
    align-items: center;
    justify-content: space-between;
    background-color: #2B2A2A;
    position:sticky;
    top:0;
    color:white;
    z-index: 1;
}

.rightside{
    margin-right: 2rem;
    width: 15rem;
    display:flex;
    justify-content:space-evenly ;
}

#logo{
    margin-left: 5rem;
}

@font-face {
  font-family: 'Zodiak';
  src: url('/assets/fonts/Zodiak-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gambarino';
  src: url('../assets/fonts/Gambarino-Regular.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;

} 

@font-face {
  font-family: 'Boska';
  src: url('/assets/fonts/Boska-Black.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.box1{
    height: 40rem;
    width:auto;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    text-align: center;
}

.navbtn{
    background-color:white;
    border-radius: 0.5rem;
    height: 2rem;
    color: black;
}

#nbtn1{
    width: 5rem;
}

#nbtn2{
    width:7rem;
}

#heading{
    font-size: 3.8rem;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
    color: rgb(69, 12, 12);
    font-family: 'Gambarino', serif; 
}

#bottomtext{
    margin-top: 6rem;
    color:black;
}

.subheading{
    font-size: 1.4rem;
    color:black;
}

#getstarted{
    border:1px solid #2B2A2A;
    background-color: black;
    color: white;
    border-radius: 0.8rem;
    width: 7.5rem;
    height: 2.6rem;
    margin-top: 2.2rem;
}



#book{
    margin-top: 3rem;
}
.box2{
    height: 40rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}

button{
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    opacity:0.4;
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-text {
  display: inline-block;
  animation: fadeSlideUp 1s ease-out;
}